.select2 {
    &-selection {
        &--single, &--multiple {
            height: 50px!important;
            background: transparent!important;
            border: 1px solid rgba($color: #fff, $alpha: .07)!important;
            border-radius: 6px!important;
            color: #fff!important;
        }
        &__rendered {
            color: #fff!important;
            line-height: 48px!important;
            padding-left: 1rem!important;
        }
        &--multiple {
            .select2-selection__rendered {
                line-height: 28px!important;
            }
        }
        &__choice {
            color: $primary;
            border: 1px solid rgba($color: #fff, $alpha: .07)!important;
            background: none!important;
            &__remove {
                border-color:rgba($color: #fff, $alpha: .07)!important;                
            }
        }
    }
    &-container {
        &-focus {
            .select2-selection {
                border: 1px solid rgba($color: #fff, $alpha: .5)!important;
            }
        }
    }
    &-dropdown {
        border-radius: 6px!important;
        border: 1px solid rgba($color: #fff, $alpha: .07)!important;
        background: $dark!important;
    }
    &-results {
        &__option {
            padding: .75rem 1rem!important;
            &--selected {
                background: #222!important;
            }
        }
    }
    &-search__field {
        color: #fff!important;
        line-height: 38px;
    }
}